body {
    background-color: #1abc9c;
    font-size: 16px;
}

.flex-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    text-align: center;
}

header > h1, .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {

    background-color: #fff;
    border-radius: 7px;
    border: 0;
    margin: 0;
    padding: 0 10px;
    width: 250px;
    font-size: 16px;
    text-align: center;
}

.btn {

    background-color: rgba(225, 225, 225, 0.695);
    border-radius: 7px;
    border: 0.5;
    margin: 0;
    padding: 0 10px;
    width: 50px;
    font-size: 16px;
    text-align: center;

}

div > .container {

    margin-left: 10rem;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

#push-center {
    margin-right: 10rem;
}
